@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.requirejs = true;
}
@section styles{
}
@section head{

}
<form action="/" method="post">
    <div id="uploader">

    </div>
    <p>123</p>
    <div id="uploader2">

    </div>
    <input type="hidden" name="uploadhidden" id="uploadhidden" />
    <input type="hidden" name="uploadhidden2" id="uploadhidden2" value="@ViewBag.uploadhidden2" />

    <input type="submit" name="提交" value="submit" />
</form>
@section scripts{
    <script>
        require(["domready!", "powerWebUpload"], function () {
            $("#uploader").powerWebUpload({
                hiddenInputId: "uploadhidden"
            });
            $("#uploader2").powerWebUpload({
                hiddenInputId: "uploadhidden2",
                PostbackHold: true,
                ShowDownload: true
            });
        })
    </script>
}